<h1>Mailbox</h1>

<% if @conversations %>
  <% @conversations.each do |conversation| %>
    <% if conversation.user1_id == @user.id %>
      <p><% user2 = User.find(conversation.user2_id) %></p>
    <% elsif conversation.user2_id == @user.id %>
      <p><% user2 = User.find(conversation.user1_id) %></p>
    <% end %>
    <p><%= link_to user2.name, conversation_messages_path(conversation) %></p>
  <% end %>
<% end %>

<h2>Users</h2>
<% if @users %>
  <% @users.each do |user| %>
    <% if user.id != @user.id %>
      <p><%= user.name %> <%= link_to 'Message me!', conversations_path(user1_id: current_user.id, user2_id: user.id), method: 'post'%></p>
    <% end %>
  <% end %>
<% end %>
