body {
  background-color: rgba(246, 255, 235, 1);
  font-family:  'Josefin Sans', sans-serif;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

blockquote {
  // margin: 5%;
  color: #ED563C;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: black;
  size: 1px;
  width: 70%;
}
