#1a, #1b {
  font-family: 'Bebas Neue', cursive;
  color: red;
}

#2a, #2b {
  font-family: 'Anton', sans-serif;
}

// font-family: 'Heebo', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Catamaran', sans-serif;
// font-family: 'Patua One', cursive;
// font-family: 'Candal', sans-serif;
// font-family: 'Alata', sans-serif;
// font-family: 'Reem Kufi', sans-serif;
