body {
  background-color: rgba(246, 255, 235, 1);
  font-family:  'Josefin Sans', sans-serif;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

blockquote {
  margin: auto 10%;
  color: #ED563C;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: black;
  size: 1px;
  width: 70%;
}

.footer-div {
  width: 100%;
  height: 10vh;
  background-color: #0D1732;
  margin-top: 10%;
}
