.jumbotron {
  background-image:
    radial-gradient(
      rgba(32, 195, 255, 0.9),
      rgba(32, 195, 255, 0.6)
    ),
    url(flag.jpg);
  margin-bottom: 10%;
  background-size: cover;
  background-position: center;
}

.jumbotron a {
  background-color: #ed563c!important;
}

.jumbotron a:hover {
  background-color: #AD1211!important;
}
