nav {
  font-family:  'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #1b326e;
  padding-bottom: 5%;
}

#v-small {
  font-size: 150%;
  color: #ed563c;
  position: relative;
  left: 2px;
  top: 2px;
}
