nav {
  font-family:  'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 10%;
  background-color: #1B326E!important;
}

.v-small {
  font-size: 150%;
  color: #ed563c;
  position: relative;
  left: 2px;
  top: 2px;
}

.navbar > a, .nav-link, .nav-link > a  {
  color: #F6FFEB!important;
}

.nav-link:hover, .nav-link > a:hover  {
  color: #ed563c!important;
  text-decoration: none;
}

.navbar-email {
  color: #20C3FF!important;
}
