#state-div {
  color: black!important;
}

.state-div {
  text-align: left;
  margin: 10%;
}

.state-info-and-senators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.state-elections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2%;
}

.state-election {
  padding: 5%;
}

.state-senators p span, .state-info  p span, .state-elections  p span, .modal-content p span {
  font-weight: 700;
}


.red {
  background-color:#ED563C;
}

.blue {
  background-color: #20C3FF;
}

.yellow {
  background-color: #F9CB5E;
}

.green {
  background-color: #68C975;
}

.orange {
  background-color: #ED9853;
}

.dark {
  background-color: #4879cf;
}

.grey {
  background-color: #a4acba;
}
