<div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="image-overlay">
        <%= image_tag("research.jpg", :alt=>"Card image cap", :class=>"card-img-top") %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="image-overlay">
        <%= image_tag("chat.jpg", :alt=>"Card image cap", :class=>"card-img-top") %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="image-overlay">
        <%= image_tag("hands.jpg", :alt=>"Card image cap", :class=>"card-img-top") %>

      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
