<% if @object %>
  <% if @object.errors.any? %>
    <p>Please fix these errors:</p>
      <% @object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
  <% end %>
<% end %>
